@charset "utf-8";
/* CSS Document */

/*CSS Mặc định*/
.btn {
	padding: 5 10;
	border: none;
}
.btn-violet {
	color: #fff;
	background: #B224EF;
}
.btn-violet:hover {
	color: #fff;
	background: #F24783;
}
/*CSS Chính*/




.login-header {
	background-color: #B224EF;
	padding: 10px;
	color: #fff;
}
.login-body {
	padding: 10px;
}
.login-body p {
	margin-bottom: 5px;
}
.login-body input[type="email"], .login-body input[type="password"] {
	width: 100%;
}

.login-footer a {
	color: #B224EF;
}
.login-footer a:hover {
	color: #F24783;
}
/*Product PAGE*/
.modal-fortmat input[type="text"] {
	width: 100%;
	margin-bottom: 5px;
}
.modal-fortmat textarea {
	width: 100%;
	height: 300px;
}