.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    white-space: nowrap;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 20px;
    padding-top: 60px;
  }
  

  .sidenav button {
      font-weight: 500;
      font-size: 20px;
      color: white;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #b224ef;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #cb51ff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sideNode {
      font-size: 16px;
  }

  .sidenav .collapse {
      margin-bottom: 20px;
  }



  .collapse a {
    margin-left: 10px;
    
  }
  .sidebar-collapse a:hover {
    margin-left: 20px;
    color: white;
    background-color: #b224ef;
}

